@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    .scrollbar::-webkit-scrollbar {
        width: 8px;
        height: 20px;
    }

    .scrollbar::-webkit-scrollbar-track {
        border-radius: 100vh;
        background: #f7f4ed00;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        @apply bg-white/15;
        border-radius: 100vh;
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
        @apply bg-white/25;
    }
}
.client-container {
    display: grid;

    height: 100vh;
    grid-template-areas:
        "head head"
        "nav main";
    grid-template-rows: 40px 1fr;
    grid-template-columns: 70px 1fr;
}
.client-container > * {
    min-height: 0;
    max-height: 100%; /* Ensure children fit within the nested grid areas */
}

.client-headbar {
    grid-area: head;
}

.client-sidebar {
    grid-area: nav;
}

.client-workspace-container {
    max-height: 100%;
    min-height: 0;
    grid-area: main;
    max-width: full;
    overflow-x: hidden;
}

.grid-item {
    display: grid;
    grid-template-columns: 28px 1fr;
}

.chat-area-container {
    display: grid;
    min-height: 0;
    height: 100%;
    grid-template-rows: min-content 1fr min-content;
}
.chat-area-container > * {
    min-height: 0;
    max-height: 100%; /* Ensure children fit within the nested grid areas */
    overflow-y: auto; /* Prevent overflow in nested grid children */
}

.message-container {
    display: grid;
    grid-template-columns: 36px 1fr;
}

.prose {
    @apply max-w-full;
}

.tiptap p {
    @apply mx-2 my-2;
}

@position-try --custom-bottom {
    top: calc(anchor(bottom));
    bottom: unset;
}

.anchor {
    anchor-name: --tooltip;
}
.tooltip {
    position: fixed;
    position-anchor: --tooltip;
    bottom: calc(anchor(top) + 8px);
    justify-self: anchor-center;
    position-try-fallbacks: --custom-bottom;
}

.tiptap-dropdown-menu {
    @apply bg-background text-white/85 py-2 w-64 border border-white/15 rounded-xl gap-y-2 flex flex-col overflow-y-auto;
}

.tiptap-dropdown-menu button {
    @apply flex items-center w-full px-4 py-2;
}
.tiptap-dropdown-menu button:hover,
.tiptap-dropdown-menu button:hover.is-selected {
    @apply bg-link;
}

.tiptap-dropdown-menu button.is-selected {
    @apply bg-link;
}
.prose .mention,
.tiptap .mention {
    @apply bg-link/15 text-link p-1 rounded;
}

body {
    @apply text-white/75;
}

input[type="radio"] {
    @apply bg-white/15 h-[0.85rem] w-[0.85rem];
}

input[type="checkbox"] {
    @apply bg-white/15 h-[0.85rem] w-[0.85rem] rounded;
}
hr {
    @apply border-white/15;
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
    @apply select-none;
}
