@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 235 235 235;
        --foreground: 220 220 220;
        --color: 0 0 0;
        --color-high-emphasis: 35 35 35;
        --color-medium-emphasis: 72 72 72;
        --color-disabled: 158 158 158;
        --link: 20 105 141;
    }

    .purple {
        --primary-300: 125 57 134;
        --primary-400: 67 18 72;
        --primary-500: 52 11 55;
        --primary-600: 40 9 43;
        --danger-400: 222 103 138;
        --danger-500: 180 21 65;
    }

    .lagoon {
        --primary-300: 26 99 150;
        --primary-400: 23 84 127;
        --primary-500: 20 72 109;
        --primary-600: 17 59 90;
        --danger-400: 222 103 138;
        --danger-500: 180 21 65;
    }

    .jade {
        --primary-300: 26 168 121;
        --primary-400: 23 144 104;
        --primary-500: 20 128 92;
        --primary-600: 16 105 75;
        --danger-400: 222 103 138;
        --danger-500: 180 21 65;
    }

    .dark {
        --background: 26 29 33;
        --foreground: 34 37 41;
        --color: 255 255 255;
        --color-high-emphasis: 220 220 220;
        --color-medium-emphasis: 183 183 183;
        --color-disabled: 97 97 97;
        --link: 29 155 209;
    }
}
@layer utilities {
    .scrollbar::-webkit-scrollbar {
        width: 8px;
        height: 20px;
    }

    .scrollbar::-webkit-scrollbar-track {
        border-radius: 100vh;
        background: #f7f4ed00;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        @apply bg-color/15;
        border-radius: 100vh;
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
        @apply bg-color/25;
    }
}
.client-container {
    display: grid;

    height: 100vh;
    grid-template-areas:
        "head head"
        "nav main";
    grid-template-rows: 40px 1fr;
    grid-template-columns: 70px 1fr;
}
.client-container > * {
    min-height: 0;
    max-height: 100%; /* Ensure children fit within the nested grid areas */
}

.client-headbar {
    grid-area: head;
}

.client-sidebar {
    grid-area: nav;
}

.client-workspace-container {
    max-height: 100%;
    min-height: 0;
    grid-area: main;
    max-width: full;
    overflow-x: hidden;
}

.grid-item {
    display: grid;
    grid-template-columns: 28px 1fr;
}

.chat-area-container {
    display: grid;
    min-height: 0;
    height: 100%;
    grid-template-rows: min-content 1fr min-content;
}
.chat-area-container > * {
    min-height: 0;
    max-height: 100%; /* Ensure children fit within the nested grid areas */
    overflow-y: auto; /* Prevent overflow in nested grid children */
}

.message-container {
    display: grid;
    grid-template-columns: 36px 1fr;
}

.prose {
    @apply max-w-full;
}

.tiptap p {
    @apply mx-2 my-2;
}

@position-try --custom-bottom {
    top: calc(anchor(bottom));
    bottom: unset;
}

.anchor {
    anchor-name: --tooltip;
}
.tooltip {
    position: fixed;
    position-anchor: --tooltip;
    bottom: calc(anchor(top) + 8px);
    justify-self: anchor-center;
    position-try-fallbacks: --custom-bottom;
}

.tiptap-dropdown-menu {
    @apply bg-background text-color-high-emphasis py-2 w-64 border border-color/15 rounded-xl gap-y-2 flex flex-col overflow-y-auto;
}

.tiptap-dropdown-menu button {
    @apply flex items-center w-full px-4 py-2;
}
.tiptap-dropdown-menu button:hover,
.tiptap-dropdown-menu button:hover.is-selected {
    @apply bg-link;
}

.tiptap-dropdown-menu button.is-selected {
    @apply bg-link;
}
.prose .mention,
.tiptap .mention {
    @apply bg-link/15 text-link p-1 rounded;
}

input[type="radio"] {
    @apply bg-color/15 h-[0.85rem] w-[0.85rem];
}

input[type="checkbox"] {
    @apply bg-color/15 h-[0.85rem] w-[0.85rem] rounded;
}

hr {
    @apply border-color/15;
}

div,
h1,
h2,
h3,
h4,
h5,
h6 {
    @apply select-none;
}

input[type="range"] {
    -webkit-appearance: none; /* Removes default Chrome/Safari style */
    appearance: none;
    @apply bg-color/50 rounded cursor-pointer;

    outline: none;
}

.range-small::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    @apply h-2 w-2 hover:h-3 hover:w-3 bg-link rounded-full cursor-pointer;
}

.range-small::-moz-range-thumb {
    @apply h-2 w-2 hover:h-3 hover:w-3 bg-link rounded-full cursor-pointer;
}

.range-small::-ms-thumb {
    @apply h-2 w-2 hover:h-3 hover:w-3 bg-link rounded-full cursor-pointer;
}
