@tailwind base;
@tailwind components;
@tailwind utilities;

.client-container {
    display: grid;

    height: 100vh;
    grid-template-areas:
        "head head"
        "nav main";
    grid-template-rows: 40px 1fr;
    grid-template-columns: 70px 1fr;
}

.client-headbar {
    grid-area: head;
}

.client-sidebar {
    grid-area: nav;
}

.client-workspace-container {
    grid-area: main;
}
.grid-item {
    display: grid;
    grid-template-columns: 28px 1fr;
}

.chat-area-container {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}
